# App
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL=postgresql://neondb_connection_string

# Security
BCRYPT_SALT_ROUNDS=12
SECURITY_TOKEN_BYTES=32

# Email
RESEND_API_KEY=resend_api_key
EMAIL_FROM=noreply@example.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret