<p>Hi{{#if userName}}, {{userName}}{{/if}}!</p>
<p>Your password was successfully changed.</p>
<p style='margin-top: 24px; font-size: 14px; color: #71717a;'>
  If you didn't make this change, please contact our support team as soon as possible.
</p>
